NODE_ENV=production
EDITOR=vim
MAILDEV_URL=maildev://maildev@maildev:25
RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=1
RAILS_LOG_TO_STDOUT=1
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=geocms_production
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
SECRET_KEY_BASE=3ffe8d8839499ec94d81e4a432f95c402eae7c0ef51131b30b0123f3c426c067962f4406bf51437fb4b6eb0169ea32ecf7fc9fe7284daf142066a69407efead1
GEOCMS_SITE=Mon Premier Visualiseur
GEOCMS_SUBDOMAIN=localhost
GEOCMS_ADMIN_USER=ford
GEOCMS_ADMIN_FIRST_NAME=Ford
GEOCMS_ADMIN_LAST_NAME=Prefect
GEOCMS_ADMIN_PASSWORD=password
GEOCMS_ADMIN_EMAIL=Ford.Prefect@megadodo.com
GEOCMS_INSTANCE_ADMIN_USER=trillian
GEOCMS_INSTANCE_ADMIN_FIRST_NAME=Tricia
GEOCMS_INSTANCE_ADMIN_LAST_NAME=McMillan
GEOCMS_INSTANCE_ADMIN_EMAIL=Tricia.McMillan@ucl.ac.uk
GEOCMS_INSTANCE_ADMIN_PASSWORD=password
REDIS_URL=redis://redis:6379/0
GEOCMS_APP_IMAGE_VERSION=latest
QT_QPA_PLATFORM=offscreen
XDG_RUNTIME_DIR=/tmp
GEOCMS_PORT=3001
SCREENSHOT_PORT=3002
SCREENSHOT_DELAY=0
MAILDEV_WEB_PORT=1081
MAILDEV_SMTP_PORT=1026
POSTGRES_PORT=5433
REDIS_PORT=6380
EMAIL_HOST=localhost
SMTP_ADDRESS=maildev
SMTP_PORT=1025
SMTP_DOMAIN=localhost
SMTP_USER=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=1
SMTP_SSL=1
SMTP_TLS=1
