@import "config/colors";
@import "vendor/vendor";
@import "base/layout";
@import "components/components";
@import "modules/modules";

.input-select {
  margin: 10px 0 10px 0;
  select.input-xxlarge {
    width: 545px;
  }
}
select[multiple], select[size] {
    resize: vertical;
}

.private-checkbox label {
  margin-left: 5px;
}

.private-checkbox input {
  float: left;
  width: 14px;
  height: auto;
}

.layer-checkbox input[type=checkbox]  {
  margin-left: 0px;
}
