#catalog {
  padding-bottom: 30px;
  background: $catalog-background-color;
  color: $catalog-body-color;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0px;
  top: 0px;
  overflow-y: auto;
  &.active {
    visibility: visible;
    z-index: 1100;
    background: rgba(250, 250, 250, 0.7);
    opacity: 1;
  }
  .container {
    position: relative;
  }
  .catalog-close-button-container {
    position: absolute;
    top: 40px;
    right: 0;
    .btn-close {
      padding: 0px 8px 0px 8px;
      &.close {
        background-color: $catalog-close-button-background-color;
        color: $catalog-close-button-color;
        text-shadow: none;
        @include opacity(100);
      }
    }
  }

  @media all and (max-width: 1500px) {
    .container {
      width: calc(100% - 170px);
      /* Firefox */
      width: -moz-calc(100% - 170px);
      /* WebKit */
      width: -webkit-calc(100% - 170px);
      /* Opera */
      width: -o-calc(100% - 170px);
      /* Standard */
      width: calc(100% - 170px);
      margin-left: 10px;
    }
  }

  @media all and (max-width: 750px) {
    .container {
      width: 100%;
    }
  }

  @media all and (max-width: 750px) {
    .catalog-close-button-container {
      top: 0;
      position: relative;
      margin-top: -10px;
    } 
  }

  .page-header {
    margin-bottom: 15px;
  }
  h1 {
    // margin-left: 20px;
    text-transform: none;
    color: $catalog-heading-color;
  }
  .breadcrumb {
    background-color: $breadcrumb-background-color;
    border: 1px solid $breadcrumb-border-color;
    color: $breadcrumb-body-color;
    i {
      color: $breadcrumb-link-color;
      text-shadow: none;
    }
    > li > a {
      text-shadow: none;
      color: $breadcrumb-link-color;
      cursor: pointer;
    }
  }

}

.media {
  background: $media-background-color;
  color: $media-body-color;
  cursor: pointer;
  border: 1px solid #DADADA;
  @include not-selectable;
  h4 {
    cursor: pointer;
    font-weight: 500;
    color: $media-heading-color;
    [class^="icon-"] {
      margin: 4px 0 3px;
    }
  }
  .carticon-folder {
    color: $media-icon-color;
  }
  .media-body {
    padding: 5px;
  }
  .image-link {
    margin: 5px;
    background: #F2EFE9;
    border: 1px solid #D8D5D0;
    height: 64px;
    width: 64px;
  }
  &.added {
    -moz-box-shadow:inset 0 1px 6px rgba(0,0,0,0.25);
    -webkit-box-shadow:inset 0 1px 6px rgba(0,0,0,0.25);
    box-shadow:inset 0 1px 6px rgba(0,0,0,0.25);
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size:100%;
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eee), color-stop(100%, #ddd));
    background-image:-moz-linear-gradient(top, #eee, #ddd);background-image:-webkit-linear-gradient(top, #eee, #ddd);
    background-image:linear-gradient(to bottom, #eee, #ddd)
  }
}

// CATALOG - CATEGORIES

#categories {
  // margin: {
  //   right: 50px;
  //   left: 50px;
  // }
  .back {
    margin-bottom: 10px;
    margin-top: 0;
    @include not-selectable;
  }
  a.category {
    width: 100%;
    display: block;
    background-color: white;
    // @include border-radius(5px);
    margin-bottom: 5px;
    height: 20px;
    padding: 5px;
  }
}

.source {
  color: #B4B4B4;
  font-size: 10px;
  margin: -3px 0 1px;
  text-transform: uppercase;
  font-variant: small-caps;
  a {
    color: #B4B4B4;
  }
}

.media.layer {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-top: 15px;
  .description {
    @include ellipsis;
  }
}

.small-space {
  height: 10px;
}

.checkbox-big{
  font-size: 1.4em;
  margin: 1px;
}

.checkbox-cart-item{
  font-size: 1em;
  margin: 1px;
  margin-right: 5px;
}

.navigation_buttons{
  text-align: right;
}