.button-plugins-right {
  height: 40px;
  background: white;
  right: -59px;
  position: absolute;
  padding: 7px 7px;
  border-left: 3px solid rgb(41, 182, 246);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  color: rgb(127, 127, 127);
  cursor: pointer;
  &:hover {
    right: 0;
  }
  .carticon-folder {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
  }
}
.button-plugins-right--language {
  right: -59px;
}
.button-plugins-right--language a {
  display: inline-block;
  width: 35px;
  padding-left: 5px;
}

#folders-button {
  top: 15px;
  width: 102px;
}

.folder-display {
  font-size: 130px;
  text-align: center;
  line-height: 130px;
}

.non-public-folder {
  color: #e2dbdb;
}

#language-button {
  top: 150px;
}
#language-button span {
  display: inline-block;
  width: 42.5px;
  height: 26px;
}
