doctype 5
html(lang="en" ng-app="geocms")
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    title= current_tenant.name
    meta content="" name="description"
    meta content="width=device-width" name="viewport"
    = stylesheet_link_tag "geocms/application"
    /[if lt IE 9]
      / = stylesheet_link_tag "leaflet/leaflet.ie"
    = csrf_meta_tags
  body.fullscreen class=(yield :body_class)
    / #progress
    /   dt
    /   dd
    div ui-view="header"
    div ui-view=""
    == yield

    javascript:
      var config = #{raw (current_tenant.prefs.to_json)}
      config.loginUrl = '#{login_path}'
      config.logoutUrl = '#{logout_path}'
      config.locale = '#{I18n.locale}'
      config.t = {
        leaflet: {
          control: {
            geo_search: {
              search_label: '#{t("leaflet.control.geo_search.search_label")}',
            },
          },
        },
        contexts: {
          edit: {
            success: '#{t("contexts.edit.success")}',
            failure: '#{t("contexts.edit.failure")}',
          }
        },
        layers: {
          invalid: '#{t("layers.invalid")}',
        },
        map: {
          layer_properties_fetch_error: '#{t("map.layer_properties_fetch_error")}',
          no_point_data: '#{t("map.no_point_data")}',
        },
        auth: {
          login: '#{t("auth.login")}',
          logout: '#{t("auth.logout")}',
        }
      }
    = javascript_include_tag "geocms/application"
