#legend.hud-panel
  div ng-repeat="layer in cart.layers | filter:mapService.greaterThan('opacity', 0.01)"
    h6
      |{{layer.title}}
    img ng-src="{{layer.data_source_wms}}?service=WMS&request=GetLegendGraphic&VERSION=1.1.1&FORMAT=image/png&layer={{layer.name}}&style={{layer.default_style}}" onerror='$(this).remove()'
