#infos.hud-panel
  tabset.nav-bottom.nav-alternative justified="true" ng-if="state != 'contexts.show'"
    tab heading=t("informations.sharing.header") active="sharingActive"
      == render "geocms/templates/sidebar/tab_infos_sharing"