.searchBar
  .input-group 
    input type="text" class="form-control" placeholder=t("actions.default.search_layers") ng-model="cart.search" ng-enter="openCatalog()"
    span class="input-group-btn" ng-click="openCatalog();"
      a class="btn btn-primary" type="button" 
        i.carticon-plus.icon-white
        |&nbsp;
        span.glyphicon.glyphicon-search